body {
    background-color: #1F2937;
}

.logo img {
    max-width: 10%;
    margin-left: 20%;
}

.header {
    display: flex;
    flex-direction: row;
}

.links a {
    color: white;
    text-decoration: none;
    
}

.links {
    padding: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content:flex-end;
    margin-right: 10%;
}

.left1 {
    color: white;
}

.left1 h1 {
    max-width: 15%;
    margin-left: 5.75%;
    padding-top: 4%;
}

.left1 p {
    max-width: 20%;
    margin-left: 5.75%;
}

.left1 button {
    margin-left: 5.75%;
    border-radius: 5px;
    border-style: none;
    background-color: #3882F6;
    color: white;
    font-size: smaller;
    padding: 7.5px;
    width: 5%;
}

.left1 img {
    max-width: 40%;
    display: flex;
    margin-left: 50%;
    justify-content: center;
}